.NavBar{
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    margin-left: 90px;
    flex: 1;
}

.Navlinks{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: 900px;
}